body {
    background-color: $light-gray;
    font-family: $sans-serif-font-stack;
    color: $primary-text-color;
}

h1, h2, h3, h4, h5 {
    font-family: $serif-font-stack;
}

button {
    cursor: pointer;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.hidden {
  display: none;
}